node_modules
.git
.gitignore
*.md
dist

# Files
/**/*/.env
/**/*/.env.*
/**/*/README.md
/**/*/.git
/**/*/.gitignore
/**/*/npm-debug.log
/**/*/.dockerignore
/**/*/Dockerfile

# Directories
/**/*/node_modules
/**/*/vendor
/**/*/test
/**/*/dist
