# Expo doesn't play nice with pnpm by default.
# The symbolic links of pnpm break the rules of Expo monorepos.
# @link https://docs.expo.dev/guides/monorepos/#common-issues
node-linker=hoisted

# We want to install peer dependencies automatically
auto-install-peers=true


# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*

