parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$user of class Illuminate\\\\Auth\\\\Events\\\\Verified constructor expects Illuminate\\\\Contracts\\\\Auth\\\\MustVerifyEmail, App\\\\Models\\\\User\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Callable callable\\(\\)\\: T invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: app/Services/AtomicLockService.php

		-
			message: "#^The overwriting return is on this line\\.$#"
			count: 1
			path: app/Services/AtomicLockService.php

		-
			message: "#^This return is overwritten by a different one in the finally block below\\.$#"
			count: 1
			path: app/Services/AtomicLockService.php
